/* 순서 참고 
1. display
2. list-style
3. position
4. float
5. clear
6. width / height
7. padding / margin
8. border / background
9. color / font
10. text-decoration
11. text-align / vertical-align
12. white-space
13. other text
14. content
*/

/* reset */
* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* veriable */
:root {
  /* layout 작은 height: 100px; */
  --layout-small-h: 6.25rem;
}

/* layout */
#wrap {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: var(--layout-small-h);
  width: 100%;
  background-color: #e0ffdb;
}

.header_rogo {
  width: 20%;
  height: var(--layout-small-h);
  background-color: #cefbc9;
}

#main {
}

.main_slide {
  height: 18.75rem;
  background-color: #bce9b7;
}

.main_contents {
}

.main_contents::after {
  content: "";
  display: block;
  clear: both;
}

.main_contents > article {
  height: 12.5rem;
  width: 33.3%;
  float: left;
}

.main_contents-taps {
  background-color: #aad7a5;
}

.main_contents-banner {
  background-color: #98c593;
}

.main_contents-shortcut {
  background-color: #86b381;
}

.footer {
}

.footer::after {
  content: "";
  display: block;
  clear: both;
}

.footer > div {
  height: var(--layout-small-h);
  float: left;
}

.footer_rogo {
  width: 20%;
  background-color: #74a16f;
}

.footer_copyright {
  width: 60%;
  background-color: #507d4b;
}

.footer_sns {
  width: 20%;
  background-color: #628f5d;
}
